.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    flex-direction: column;
}

.SearchWrapper {
    
    transition: 1s;
}

.Title {
    text-align: center;
    margin: 0 0 40px 0;
    font-size: 36px;
    transition: 1s;
}

.Form {
    display: flex;

    .SubmitBtn {
        background: var(--theme-color);
        color: #fff;
        padding: 14px 30px;
        border-radius: 0 4px 4px 0;
        font-size: 20px;
    }
}

.SearchWrapper.SearchSubmit {
    animation: searchVideos 2s;
    transform: translateY(-200px);
}

@keyframes searchVideos {
    from {transform: translate(0)}
    to {transform: translateY(-200px)}
}