.Input {
    position: relative;

    i {
        opacity: 0;
        color: var(--theme-color);
        font-size: 24px;
        transition: 1s;
    }

    input {
        padding: 13px 15px;
        border: 1px solid #ddd;
        border-radius: 4px 0 0 4px;
        width: 500px;
        background: none;
        font-size: 20px;
        transition: 1s;

        &:focus  {
            border: 1px solid #1390E5;
            background: #eef7fe;
        }
    }

    button {
        background: 0;
        position: absolute;
        right: 15px;
        top: 14px;
    }
    
}